APP_NAME=OpenSID
APP_ENV=production
APP_DEBUG=false
APP_URL=https://desa.commitflow.space
TZ=Asia/Jakarta

# Format:
# mysql://username:password@host:3306/database?charset=utf8mb4&collation=utf8mb4_general_ci
DATABASE_URL=mysql://opensid_user:ganti_password@external-db-host:3306/opensid?charset=utf8mb4&collation=utf8mb4_general_ci
DB_STRICT_MODE=true

TRUSTED_HOSTS=desa.commitflow.space
TRAEFIK_HOST=desa.commitflow.space
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt
